<div class="modal-body p-0 m-0 modal-lg">
    <form class="text-center" (submit)="createEvento()">
      <div class="container-fluid bg special-color py-2">
          <img src="https://mdbootstrap.com/img/Others/documentation/img%20(75)-mini.jpg" id="imagenEvento" alt="thumbnail" class="img-thumbnail"
          style="width: 400px">
      </div>
      <div class="container-fluid py-2 bg-success text-center">
          <strong><p class="h4 text-white py-0">Crear Evento</p></strong>
      </div>
      <div class="container-fluid py-3">
          <div class="row">
            <div class="col">
                <div class="input-file-container">  
                    <input class="btn btn-light" id="my-file" type="file">
                    <label tabindex="0" for="my-file" class="input-file-trigger">Select a file...</label>
                  </div>
            </div>
          </div>
      </div>
      <div class="container-fluid py2">
        <div class="row">
          <div class="col">
            <div class="container pb-2">
                <label for="Titulo">Titulo Evento:</label>
                <input type="text" id="Titulo" class="form-control">
            </div>
            <div class="container pb-2">
                <label for="Direccion">Dirección:</label>
                <input type="text" id="Direccion" class="form-control">
            </div>
          </div>
          <div class="col">
              <div class="container pb-2">
                  <label for="Personas">Máx Personas:</label>
                  <select class="browser-default custom-select" id="Distrito">
                      <option selected>10</option>
                      <option value="1">15</option>
                      <option value="2">25</option>
                      <option value="3">35</option>
                    </select>
              </div>
              
            <div class="container pb-2">
                <label for="Distrito">Distrito:</label>
                <select class="browser-default custom-select" id="Distrito">
                    <option selected>La Molina</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                  </select>
            </div>
            </div>
        </div>
        
      </div>
  
        <hr>
        <button mdbBtn color="info" block="true" class="my-4" type="submit">Crear</button>
      </form>
      <!-- Default form register -->
    </div>